.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.col {
      flex: 1 0 33%;                 /* NEW */
  background-color: blue;
    background-color: lightgrey;
    color: orange;
  }