.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    margin: auto;
    border: 1px black solid;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}